.description {
  width: 30%;
}
.description h1 {
  color: var(--very-dark-desaturated-violet);
  font-size: 4rem;
}
.description p {
  font-size: 2rem;
  color: var(--dark-grayish-violet);
  line-height: 1.5;
}
@media (max-width: 900px) {
  .description {
    text-align: center;
    width: 70%;
  }
}
